*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    text-align: right;
    margin-top: 10px;
}
.navbar a{
    text-decoration: none;
    margin-left: 15px;
    color: black;
    font-weight: bold;
}
.google-img{
    text-align: center;
    margin-top: 150px;
}
.form-group{
    text-align: center;
}
.search{
    margin: 30px;
    border-radius: 50px;
    outline: 0;
    padding: 10px;
    width: 35%;
}
button{
    padding: 10px;
    text-transform: capitalize;
    border: hidden;
}
.lucky{
    margin-left: 10px;

}
.google-search:hover{
    border: 2px solid #eee;
    

}
.lucky:hover{
    border: 2px solid #eee;
}
.language{
    text-align: center;
    margin-top: 35px;
}
.language a{
    text-decoration: none;
    margin-right: 10px;
}
footer{
    margin-top: 100px;
}
h3{
    padding: 10px;
    background: #eee;
    color: rgba(0,0,0,.54);
    border:0.2px solid RGB(174, 182, 191);
}
.information{
    background: #eee;
    padding: 10px;
}
.promation a{
    text-decoration: none;
    margin-left: 15px;
    color: rgba(0,0,0,.54);
    font-weight: bold;
    
}
.setting{
    float:right;
}
.setting a{
    text-decoration: none;
   margin-left: 15px;
   color: rgba(0,0,0,.54);
   font-weight: bold;
}